
/**
 * Mixins
 */

@use "sass:math";


/**
 * Font Size Converter - px to em
 * ---
 * 16px -> 1em
 */

@mixin font-size( $sizeValue: 1.6 ) {
  font-size: math.div( $sizeValue, 16 ) + em;
}


/**
 * Utils
 * ---
 */

// Clearfix (no old IE support cause why)
@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: ' ';
  }
}


// Image Replacement
@mixin image-replace($width, $height) {
  width: $width;
  height: $height;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}


// Image Replacement (modern)
@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


// Vis Hidden
@mixin visuallyhidden {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect( 0 0 0 0 );

  // Allow focus
  &.focusable:active,
  &.focusable:focus {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    white-space: inherit;
    overflow: visible;
    clip: auto;
  }
}



/**
 * Resets and Typography Utils
 * ---
 */

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin nav-item-reset() {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

@mixin link-reset() {
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-reset() {
  @include link-reset();
  display: inline-block;
  vertical-align: baseline;
  padding: 0;
  border: 0 none;
  text-align: center;
  background-color: transparent;
  // transition: color 500ms, background 500ms;
}

@mixin button( $color ) {
  @include button-reset();
  padding: 14px 60px 14px 1.5em;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0.75px;
  background: $color;
  position: relative;
  padding-right: 60px;
  font-size: 14px;
  @include breakpoint($bp-xl){
    font-size: 17px;
  }
  &:after{
    content: url(../svg/icons/arrow-right-icon-white-button.svg);
    position: absolute;
    right: 19px;
  }


  &:hover,
  &:focus {
    color: #fff;
    background: darken($color, 15%);
  }
}

.gform_footer{
  position: relative;
  display: inline-block;
  &:after{
    content: url(../svg/icons/arrow-right-icon-white-button.svg);
    position: absolute;
    right: 19px;
    bottom: 29px;
  }
}

@mixin button-two( $color ) {
  @include button-reset();
  padding: 10px 65px 10px 1em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0.75px;
  background: $color;
  position: relative;
  border: 3px solid $border-color-2;
  color: $color-green;
  font-size: 14px;
  padding-right: 69px;
  @include breakpoint($bp-xl){
    font-size: 17px;
  }
  @include breakpoint($bp-mega){
    font-size: 18px;
  }
  &:after{
    content: "";
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $color-green;
    background-image: url(../svg/icons/arrow-right-icon-white-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint($bp-xl){
      height: 100%;
    }
  }


  &:hover,
  &:focus {
    color: #fff;
    background: $color-green-dark;
  }
}


@mixin button-three( $color ) {
  @include button-reset();
  padding: 14px 60px 14px 1.5em;
  color: $color-green-dark;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0.75px;
  background: $color;
  position: relative;
  padding-right: 60px;
  font-size: 14px;
  @include breakpoint($bp-xl){
    font-size: 17px;
  }
  &:after{
    content: url(../svg/icons/arrow-right-icon-green-button.svg);
    position: absolute;
    right: 19px;
  }


  &:hover,
  &:focus {
    color: $color-green-dark;
    background: darken($color, 15%);
  }
}


/**
 * Blocks
 */

// Reverse the colors of text
// within a block
@mixin reverse-block-color() {
  color: #fff;

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a:not(.button, .button-two, .button-three) {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

// Mimic 'background-size: cover' on a
// block. Parent el needs position relative.
@mixin block-fit-cover( $min-width: 100em ) {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  min-width: $min-width;
  user-drag: none;
  user-select: none;
  z-index: 1;

  @supports ( object-fit: cover ) {
    object-fit: cover;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
  }
}
