
/**
 * Debug and Dev related classes.
 *
 * Uncomment as needed. Don't forget to comment them back out!
 */

// .user-role-administrator {}


/**
 * Highlight images with missing alt tags
 */

// .debug--img-alt-tags {
//   img:not([alt]) {
//     border: 5px solid red !important;
//   }
// }


/**
 * Higlight all elements on page
 *
 * Useful for debugging z-index and overflow
 */

// .debug--border-box {
//   *:not(path):not(g) {
//     color: hsla(210, 100%, 100%, 0.9) !important;
//     background: hsla(210, 100%,  50%, 0.5) !important;
//     outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
//     box-shadow: none !important;
//   }
// }
