
/**
 * Mobile Header
 */

.site-header--mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em 1.5em;
  overflow: hidden;
  z-index: 500;
  background: $color-green-med;
  background-color:  $color-green-med;

  @supports ( position: sticky ) {
    position: sticky;
  }

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    top: 2.875em;
  }
}

.mobile-header-left {
  float: left;

  @supports ( display: flex ) {
    flex: 1 0 auto;
  }

  .site-branding{
    svg{
      width: 280px;
      @include breakpoint($bp-med){
        width: auto;
      }
    }
  }
}

.mobile-header-right {
  float: right;
}

.menu-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  padding: 0.75em;
  color: #fff;
  line-height: 1;
  background-color: $color-green-dark;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-green-dark;
  }

  svg {
    display: block;
    width: 1.375em;
    height: 1.1875em;
  }
}

.close-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  color: white;
  padding-right: 15px;

  &:hover,
  &:focus {
    color: white;
  }

  svg {
    display: block;
    width: 2.0625em;
    height: 2.0625em;
  }
}
