
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: $footer-bkg;

  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  padding: 3em 0;
}

.site-info {
  padding: 1.5em 0;
  border-top: 2px solid rgba( #fff, 0.3 );
  padding-bottom: 0;
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    // transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.5em;
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;
  p{
    font-weight: 500;
    margin-bottom: 0;
    color: $color-green-dark;
  }
  @include breakpoint($bp-med) {
    text-align: left;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;

  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }
  p{
    font-weight: 500;
    color: $color-green-dark;
  }
  a {
    color: #fff;
    // transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

footer.section{
 background-color: $color-green-light;
 color: $color-green-dark;
  padding-top: 2em !important;
  @include breakpoint($bp-med){
    padding-top: 5em !important;
  }
  .footer-box{
    padding-top: 12em;
    position: relative;
    @include breakpoint($bp-large){
      padding-left: 10em;
      padding-top: 0;
    }
    @include breakpoint($bp-xl){
      padding-left: 12em;
    }
    &:before{
      content: url(../svg/branding/site-logo-footer.svg);
      position: absolute;
      left: 0;
      top: 26px;
      bottom: 0;
    }
    .bottom-grid{
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      .l-grid{
        align-items: center;
        .po-box{
          p{
            color: $color-green-dark;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
        .phone-box{
          p{
            margin-bottom: 0;
            a{
              color: $color-green-dark;
              font-size: 15px;
              text-decoration: none;
              font-weight: 500;
            }
          }
        }
        .email-box{
          p{
            margin-bottom: 0;
            a{
              color: $color-green-dark;
              font-size: 15px;
              text-decoration: none;
              font-weight: 500;
            }
          }
        }
        .street-address{
         p{
           margin-bottom: 0;
           color: $color-green-dark;
           font-size: 15px;
           font-weight: 500;
         }
        }
      }
    }
    .footer-inner-box{
      border-left: 3px solid $border-color;
      border-bottom: 3px solid $border-color;
      position: relative;
      z-index: 2;
      .top-grid{
        border-bottom: 3px solid $border-color;
        border-right: 3px solid $border-color;
        a.open-form{
          text-decoration: none;
          font-size: 15px;
          color: $color-green-dark;
          margin-bottom: 0;
          font-weight: 700;
          font-family: $font-base;
          text-align: left;
          // padding-bottom: 8px;
          // padding-left: 31px;
          width: 100%;
          height: 100%;
          display: block;
          color: white;
          padding: 10px 9px;
          background: $color-green-dark;
          border-right: 2px solid $color-green-dark;
          // transition: background 500ms, border 500ms;
          &:hover{
            background: $color-green;
            border-right: 2px solid $color-green;
            // transition: background 500ms, border 500ms;
          }
          @include breakpoint($bp-large){
            text-align: center;
            padding-left: 0;
          }
        }
        .l-two-thirds{
          margin-left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          position: relative;
          &:after{
            content: "";
            z-index: -2;
            position: absolute;
            right: 0;
            background: #4e5620;
            height: 100%;
            width: 58px;
            @include breakpoint($bp-med){
              width: 38px;
            }
          }
        }


        .l-one-third-col{
          padding-left: 0;
          width: 50%;
          @include breakpoint($bp-large){
            width: 35%;
          }
        }
        .l-two-third-col{
          padding-left: 0;
          width: 70%;
          @include breakpoint($bp-small){
            width: 100%;
          }
          .search-bar{
            // border-left: 3px solid $border-color;
            .search-submit{
              right: -1px;
              padding: 0 1.25em;
              border: none;
              @include breakpoint($bp-med){
                padding: 0 0.65em;
              }
              &:hover{
                background-color: $color-green-dark;
                border-right-color: 2px solid $color-green-dark;
                border-bottom-color: 2px solid $color-green-dark;
              }
            }
            input.search-field{
              background-color: transparent;
              border: none;
              padding-bottom: 15px;
              padding-left: 20px;
            }
            ::placeholder{
              color: $color-green-dark;
              font-size: 15px;
              font-weight: 500;
            }

            .button{
              &:after{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.footer-partner-section{
  margin-bottom: 20px;
  // margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-top: 2px solid #4e5620;
  padding-top: 2em;
  .partner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include breakpoint($bp-med){
      flex-direction: row;
    }
    .partner-block{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @include breakpoint($bp-med){
        justify-content: space-between;
      }
    }
    .logo{
      img{
        max-width: 140px;
      }
    }

    .logo + .logo{
      margin-left: 1em;
    }
  }
  h2{
    font-size: 35px;
    text-align: center;
    padding-left: 20px;
    border-left: 3px solid #919b32;
    @include breakpoint($bp-med){
      font-size: 35px;
    }
    @include breakpoint($bp-xl){
      font-size: 35px;
    }
  }
}
