.page-template-template-maps{
  .map-section{
    .l-main-col{
      padding-left: 2em !important;
    }
  }
  .l-main-col{
    display: flex;
    flex-direction: column;
    padding-left: 2em !important;
    @include breakpoint($bp-xl){
      flex-direction: row;
    }
    .l-aside-col-r{
      padding-left: 0;
      flex: 0.5;
      border-top: 3px solid #65753c;
      @include breakpoint($bp-xl){
        border-top: none;
        margin-top: 60px;
        margin-left: 36px;
      }
      .button{
        padding: 1em;
        display: inline-block;
        @include breakpoint($bp-xl){
          display: block;
        }
        &:after{
          display: none;
        }
      }
    }
    .area-section{
      flex: 1;
    }
  }
.area-sidebar-container{
  @include breakpoint($bp-xl){
    border-left: 3px solid #65753c;
  }
  h3{
   font-size: 20px;
  }
  .area-sidebar-text{
    .page-content{
      padding-top: 25px;
      padding-bottom: 15px;
      @include breakpoint($bp-xl){
        padding-left: 25px;
      }
    }
  }
  .area-sidebar-map{
    border-top: 3px solid #65753c;
    .page-content{
      padding-top: 25px;
      padding-bottom: 35px;
      @include breakpoint($bp-xl){
        padding-left: 25px;
      }
    }
    .acf-map{
      height: 168px;
      }
    }
  }
  .callout-section{
    @include reverse-block-color();
    background-color: $color-green;
    .button-block{
      flex-direction: column;
      align-items: flex-start;
      @include breakpoint($bp-large){
        flex-direction: row;
        align-items: center;
      }
    }
    .callout-header, .button-callout-content{
      text-align: left;
      padding-left: 0;
    }
    h2.callout-header{
      font-size: 36px;
      padding-left: 0em;
      padding-bottom: 0;
      @include breakpoint($bp-med) {
        padding-left: 1em;
        padding-right: 0;
      }
      @include breakpoint($bp-large) {
      flex: 0.5;
      padding-left: 2em;
      margin-bottom: 0
      }
      @include breakpoint($bp-xl) {
      padding-left: 1em;
      }
    }
    .callout-body{
      @include breakpoint($bp-large) {
        flex: 1.5;
      }
      p{
        font-size: 20px;
        @include breakpoint($bp-large) {
          padding-right: 35px;
        }
      }
      .button-callout-content{
        flex-direction: row;
        p{
          margin-bottom: 0;
        }
      }
    }
  }
}


.map-upload{
  margin-bottom: 20px;
  a{
    display: block;
    position: relative;
    height: 447px;
    overflow: hidden;
    svg{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
    img{
      @include block-fit-cover();
    }
  }
}

.mfp-content{
  width: 400px !important;
  @include breakpoint($bp-large){
    width: 600px !important;
  }
  @include breakpoint($bp-xl){
    width: 800px !important;
  }
  @include breakpoint($bp-mega){
    width: 1000px !important;
  }
}

.map-popup{
  margin: auto;
  display: block;
  width: 400px;
  @include breakpoint($bp-large){
    width: 600px;
  }
  @include breakpoint($bp-xl){
    width: 800px;
  }
  @include breakpoint($bp-mega){
    width: 1000px;
  }
}

.mfp-close-btn-in .mfp-close {
    color: #333;
    color: white;
    right: 190px;
    top: -10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
    right: -50px !important;
    top: -10px !important;
}
