
.page-template-template-home {
  .home-alert-box-section{
    @include breakpoint($bp-med){
      margin-top: -12em;
      position: relative;
    }
    .alert-box{
      a{
        text-decoration: none;
        &:hover{
          .l-two-thirds{
            // background-color: $color-green-dark;
          }
          .content{
            // @include reverse-block-color;
            .button-four{
              border: 3px solid $color-green-med;
              color: $color-green-med;
              &:after{
                background-color: $color-green-med;
                // background-image:  url(../svg/icons/arrow-right-icon-white-button-green.svg);
              }
            }
          }
          .photo-box{
            opacity: 0.8;
          }
        }
        .button-four{
          &:hover{
            color: white !important;
          }
        }
      }
      .photo-box{
        position: relative;
        overflow: hidden;
        height: 220px;
        @include breakpoint($bp-small){
          height: 250px;
        }
        @include breakpoint($bp-med){
          height: 300px;
        }
        img{
          @include block-fit-cover();
        }
      }
      .l-two-thirds{
        background-color: $color-green-light;
        margin-left: 0;
        @include breakpoint($bp-med){
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .l-one-third-col{
        padding-left: 0;
        @include breakpoint($bp-med){
          width: 33.333%
        }
        @include breakpoint($bp-large){
          width: 23.333%;
        }
        @include breakpoint($bp-xl){
          width: 33.333%;
        }
      }
      .l-two-third-col{
        padding-left: 0;
        @include breakpoint($bp-med){
          padding-left: 2em;
          padding-right: 3em;
          width: 76.666%;
        }
        @include breakpoint($bp-xl){
          width: 66.666%;
        }
      }
      .content{
        padding: 25px;
        @include breakpoint($bp-med){
          padding: 0;
        }
        h2{
          font-size: 30px;
          color: $color-green-dark;
          @include breakpoint($bp-med){
            font-size: 35px;
          }
        }
        p{
        color: $color-black;
        // font-style: italic;
        font-size: 17px;
        color: #000;
        }
      }
    }
  }
  .home-alert-box-section + .home-alert-split-section{
    padding-top: 0em !important;
    margin-top: -3em;
  }
  .home-alert-split-section{
    position: relative;
    padding-top: 2em !important;
    padding-bottom: 2em !important;
    @include breakpoint($bp-large){
      // margin-top: -12em;
      // padding-bottom: 1em;
    }
    &:before{
      content: url("../svg/icons/leaf-left-bg.svg");
      position: absolute;
      left: 0;
      right: 0;
      top: -11em;
      z-index: -1;
    }
    .split-box{
      padding: 40px 0;
      @include breakpoint($bp-large){
        padding: 60px 0;
      }
      .l-two-thirds{
        display: flex;
        flex-direction: column;
        @include breakpoint($bp-med){
          flex-direction: row;
          align-items: center;
        }
      }
      .content{
        height: 100%;
        h2{
          color: $color-green-dark;
          font-size: 35px;
          @include breakpoint($bp-med){
            margin-bottom: 0;
            font-size: 40px;
          }
          @include breakpoint($bp-xl){
            font-size: 50px;
          }
        }
        p{
          color: $color-green-med;
          border-top: 3px solid $border-color;
          padding: 30px 0 0 0;
          margin-top: 30px;
          margin-bottom: 0;
          font-size: 21px;
          @include breakpoint($bp-med){
            font-size: 24px;
            margin-top: 0;
            padding: 50px 0 50px 40px;
            border-top: none;
            border-left: 3px solid $border-color;
          }
        }
      }
    }
  }
  padding-top: 2em !important;
  margin-top: -2em;
  .callout-section{
    @include reverse-block-color();
    background-color: $color-green;
    .button-block{
      flex-direction: column;
      align-items: flex-start;
      @include breakpoint($bp-large){
        flex-direction: row;
        align-items: center;
      }
    }
    .callout-header, .button-callout-content{
      text-align: left;
      padding-left: 0;
    }
    h2.callout-header{
      font-size: 36px;
      padding-left: 0em;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;
      @include breakpoint($bp-med) {
        padding-left: 1em;
        padding-right: 0;
      }
      @include breakpoint($bp-large) {
      flex: 0.5;
      padding-left: 2em;
      margin-bottom: 0
      }
      @include breakpoint($bp-xl) {
      padding-left: 1em;
      }
    }
    .callout-body{
      @include breakpoint($bp-large) {
        flex: 1.5;
      }
      p{
        font-size: 20px;
        @include breakpoint($bp-large) {
          padding-right: 35px;
        }
      }
      .button-callout-content{
        flex-direction: row;
        p{
          margin-bottom: 0;
        }
      }
      .button{
        margin-top: 1em;
        @include breakpoint($bp-large){
          margin-top: 0;
        }
      }
    }
  }
  .home-featured-listing-section{
    text-align: center;
    @include breakpoint($bp-large){
      padding: 6em 0 8em 0;
      padding-top: 3em;
      padding-bottom: 5em;
    }
    .l-grid-item {
        width: 50%;

      @include breakpoint($bp-med) {
        width: 25%;
      }
    }
     .header{
      padding: 10px 20px;
      @include breakpoint($bp-xl){
        padding: 30px 22px 40px 22px;
      }
      h2{
        color: $color-green-med;
        font-size: 35px;
        @include breakpoint($bp-med){
          font-size: 40px;
        }
        @include breakpoint($bp-xl){
          font-size: 50px;
        }
      }
      p{
        font-size: 20px;
        color: $color-black;
      }
    }
    .card{
      height: 250px;
      @include breakpoint($bp-large){
        height: 340px;
      }
      a{
        text-decoration: none;
        .card-header{
          position: relative;
          overflow: hidden;
          height: 180px;
          @include breakpoint($bp-large){
            height: 270px;
          }
         img{
           @include block-fit-cover();
         }
        }
        .card-footer{
          background-color: $color-green-light;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            font-size: 20px;
            color: $color-black;
          }
        }
        &:hover{
         .card-footer{
           background-color: $color-green-dark;
           // transition: background-color 500ms;
           span{
             @include reverse-block-color();
           }
         }
         .card-header{
           img{
             opacity: 0.8;
           }
         }
        }
      }
    }
    .button-block{
      margin-top: 50px;
    }
  }
  .split-block-section{
   .split-photo{
     background-color: $color-green-dark;
     justify-content: center;
     display: flex;
     align-items: center;
     height: 300px;
     @include breakpoint($bp-med){
       height: auto;
     }
     h2{
       font-size: 35px;
       color: white;
       position: relative;
       z-index: 2;


       @include breakpoint($bp-med){
         font-size: 40px;
       }
       @include breakpoint($bp-xl){
         font-size: 50px;
       }
     }
     img{
       @include block-fit-cover();
       opacity: 0.5;
     }
   }
   .split-content{
     background-color: $color-green-light;
     p{
       font-size: 20px;
       color: $color-black;
     }
   }
  }
  .home-events-blog-section{
    position: relative;
    @include breakpoint($bp-large){
      padding: 9em 0 10em 0;
      padding-bottom: 5em;
      padding-top: 6em;
    }
    &:before{
      content: "";
      position: absolute;
      right: 0;
      top: 30px;
      bottom: 0;
      background-image: url('../svg/icons/leaf-right-bg.svg');
      background-repeat: no-repeat;
      background-position: left;
      width: 900px;
      height: 561px;
      z-index: -1;
    }
    .card{
      border: 3px solid $border-color-2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 30px 30px;
      &:hover{
        // background-color: $color-green-dark;
        // // border: 3px solid $color-green-dark;
        // @include reverse-block-color;
        a{
          text-decoration: none !important;
          .card-header{
            h3{
              text-decoration: none;
            }
            p{
              text-decoration: none;
            }
          }
        }
        .button-four{
          border: 3px solid $color-green-med;
          color: $color-green-med;
          &:after{
            background-color: $color-green-med;
            // background-image:  url(../svg/icons/arrow-right-icon-white-button-green.svg);
          }
        }
      }
      @include breakpoint($bp-large){
        height: 400px;
        padding: 18px;
      }
      @include breakpoint($bp-xl){
        height: 369px;
        padding: 30px 30px;
      }
      a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        h3{
          font-size: 28px;
          color: $color-green-dark;
        }
        p{
          font-size: 15px;
          color: $color-black;
          font-style: italic;
        }
      }
    }
    h2{
      position: absolute;
      left: 33px;
      top: -38px;
      padding-left: 20px;
      border-left: 3px solid $border-color-2;
      font-size: 31px;
      color: $color-green-dark;
      @include breakpoint($bp-med){
        font-size: 35px;
      }
    }
    .events-grid{
      position: relative;
      margin-top: 50px;
      margin-bottom: 26px;
      @include breakpoint($bp-med){
        margin-top: 10px;
        margin-bottom: 0;
      }
      @include breakpoint($bp-large){
        margin-top: 28px;
      }
      .button-four{
        &:hover{
          color: white !important;
        }
      }
    }
    .blog-grid{
      margin-top: 60px;
      position: relative;
      .l-grid{
        display: block;
        margin-left: 0;
      }
      .home-insta{
        margin-top: 18px;
      }
    }
    .card-footer{
      .button-four{
        width: 100%;
      }
    }
    .l-grid-item{
      width: 100%;
      @include breakpoint($bp-large){
        width: 50%;
      }
    }
  }
}




// .l-grid--two-col {
//   .l-grid-item {
//     width: 100%;
//     border: 2px solid red;
//     @include breakpoint($bp-large) {
//       width: 50%;
//     }
//   }
// }

// button-callout-content
