
/**
 * Buttons
 */

.button {
  @include button( $button-color );

}


.button-two{
  @include button( $button-color-two );
}

.button-three{
  @include button-three( $button-color-three );
}

.button-four{
  @include button-two( $button-color-four );
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  border-bottom: 3px solid $button-color;
  color: $button-color;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: none;
  // transition: color 500ms, border-bottom-color 500ms;

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}


/**
 * Button Group
 */

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
