
/**
 * Background Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  @include reverse-block-color();
  background-color: $color-green;
  input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea{
    border: none !important;
  }
}

.color-option-3 {
  @include reverse-block-color();
  background-color: $color-green-dark;
}

.color-option-4 {
  @include reverse-block-color();
  background-color: $color-green-med;
}
.color-option-5 {
  background-color: $color-green-light;
}

.background-image {
  @include reverse-block-color();
  background-color: $color-green-med;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
