
/**
 * Headings
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.3em;
  color: $color-green-dark;
  font-family: $font-heading;
  font-weight: 600;
  line-height: 1.2;

  // Add margin for following elements
  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}
p + .button, .button-two, .button-three, .button-four,{
  // margin-bottom: 1.3em;
}

h1, .h1 {
  @include font-size(30);
  color: $color-green-med;
  @include breakpoint($bp-large) {
    @include font-size(40);
  }
}

h2, .h2 {
  @include font-size(21);

  @include breakpoint($bp-large) {
    @include font-size(30);
  }
}

h3, .h3 {
  @include font-size(25);
}

h4, .h4 {
  @include font-size(20);
  color: $color-black;
  font-family: $font-base;
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(27);
}
