
/**
 * Page Banner
 */

.banner {
  position: relative;
  padding: 5.9375em 0;
  width: 100%;
  background-color: $color-black;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 200px;
  @include breakpoint($bp-med){
    height: 500px;
    padding-top: 14em;
  }
  @include breakpoint($bp-mega){
    height: 600px;
  }
}

.banner-title {
  position: relative;
  z-index: 10;

  .h1 {
    font-size: 30px;
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-weight: 700;
    text-align: center;

    @include breakpoint($bp-med) {
      font-size: 50px;
    }
    @include breakpoint($bp-mega) {
      font-size: 50px;
    }
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 0.4;
}
