
/**
 * Button Block
 */

.button-block-layout {
  position: relative;

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.button-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}

.button-block {
  margin: -0.5em 0;
  text-align: center;

  @include breakpoint($bp-med) {
    margin: 0 -2em;
  }

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .callout-header,
  .callout-body {
    padding: 0.5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {
    margin-bottom: 1em;
    h2 {
      @supports ( display: flex ) {
        margin: 0;
      }
    }
  }
}

.button-callout-content {
  width: 100%;


  @include breakpoint($bp-large) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  }

  p {
    margin: 0 0 1em 0;
    font-size: 1.1875em;
    line-height: 1.2;
    margin-bottom: 1em;

    @include breakpoint($bp-large) {
      @supports ( display: flex ) {
        flex: 1 0 0;
        margin: 0;
        margin-bottom: 1em;
        // padding-right: 1em;
      }
    }
  }
  .button{
    margin-top: 20px !important;
    @include breakpoint($bp-large){
      margin-top: 0px !important;
    }
  }
}
