
/**
 * Grid Layout
 */

.l-grid-wrap {
  overflow: hidden;
}

.l-grid {
  margin-top: -($grid-gutter);
  margin-left: -($grid-gutter);

  @supports ( display: flex ) {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-grid-item {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
  padding-top: $grid-gutter;
  padding-left: $grid-gutter;
  width: 100%;

  @supports ( display: flex ) {
    margin-right: 0;
  }
}

.l-grid--two-col {
  .l-grid-item {
    @include breakpoint($bp-med) {
      width: 50%;
    }
  }
}

.l-grid--three-col {
  .l-grid-item {
    @include breakpoint($bp-med) {
      width: 50%;
    }

    @include breakpoint($bp-large) {
      width: 33.33%;
    }
  }
}

.l-grid--four-col {
  .l-grid-item {
    @include breakpoint($bp-med) {
      width: 50%;
    }

    @include breakpoint($bp-large) {
      width: 25%;
    }
  }
}
.l-grid--five-col {
  .l-grid-item {
    @include breakpoint($bp-med) {
      width: 20%;
    }

    @include breakpoint($bp-large) {
      width: 20%;
    }
    @include breakpoint($bp-xl) {
      width: 20%;
    }
  }
}
