
/**
 * Column Layout
 */

.l-columns-wrap {
  overflow: hidden;
}

.l-columns {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  margin-top: -($column-gutter);
  margin-left: -($column-gutter);

  + .l-columns {
    padding-top: $column-gutter;
  }
}
.l-columns--align-center {
  @include breakpoint($bp-med) {
    align-items: center;
  }
}
.l-columns--align-bottom {
  @include breakpoint($bp-med) {
    align-items: bottom;
  }
}

.l-column-item {
  width: 100%;
  padding-top: $column-gutter;
  padding-left: $column-gutter;

  @include breakpoint($bp-med) {
    float: left;
  }

  .l-columns--2 & {
    @include breakpoint($bp-med) {
      width: 50%;
    }
  }

  .l-columns--3 & {
    @include breakpoint($bp-med) {
      width: 33.33%;
    }
  }

  .l-columns--4 & {
    @include breakpoint($bp-med) {
      width: 25%;
    }
  }

  .l-columns--5 & {
    @include breakpoint($bp-med) {
      width: 20%;
    }
  }

  .l-columns--6 & {
    @include breakpoint($bp-med) {
      width: 16.66%;
    }
  }


  /**
   * Column Positioning
   */

  &.l-column-item--pull-right {
    @include breakpoint($bp-med) {
      margin-left: auto;
      float: right;
      width: auto;
    }
  }

  &.l-column-item--pull-left {
    @include breakpoint($bp-med) {
      margin-right: auto;
      float: left;
      width: auto;
    }
  }
}


