
/**
 * Utility Navigation
 */

.navigation--utility {
  margin-bottom: 0.5em;
  text-align: right;

  li {
    + li {
      padding-left: 0.75em;
      // border-left: 1px solid $border-color;
    }
  }

  a {
    display: block;
    margin: -5px 0;
    padding: 0.5em 0.15em;
    color: $utility-nav-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    &:nth-of-type(1){
      @include button-reset();
      padding: 14px 60px 14px 1.5em;
      color: $color-green-dark;
      font-weight: 700;
      line-height: 1.2;
      text-transform: none;
      letter-spacing: 0.75px;
      background: white;
      position: relative;
      padding-right: 60px;
      font-size: 14px;
      &:hover{
        background-color: $color-green-dark;
        color: white;
        &:after{
          content: url(../svg/icons/arrow-right-icon-white-button.svg);
          position: absolute;
          right: 19px;
        }
      }
      @include breakpoint($bp-xl){
        font-size: 18px;
      }
      &:after{
        content: url(../svg/icons/arrow-right-icon-green-button.svg);
        position: absolute;
        right: 19px;
      }
    }
    &:nth-of-type(2){
      @include button-reset();
      padding: 14px 60px 14px 1.5em;
      color: $color-green-dark;
      font-weight: 700;
      line-height: 1.2;
      text-transform: none;
      letter-spacing: 0.75px;
      background: white;
      position: relative;
      padding-right: 60px;
      font-size: 14px;
      &:hover{
        background-color: $color-green-dark;
        color: white;
        &:after{
          content: url(../svg/icons/arrow-right-icon-white-button.svg);
          position: absolute;
          right: 19px;
          top: 16px;
        }
      }
      @include breakpoint($bp-xl){
        font-size: 18px;
      }
      &:after{
        content: url(../svg/icons/arrow-right-icon-green-button.svg);
        position: absolute;
        right: 19px;
        top: 16px;
      }
    }
    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }

  .sub-menu {
    display: none;
  }
}
