
/**
 * Footer Navigation
 */

.navigation--footer {
  text-align: center;

  ul {
    line-height: 1;

    li {
      vertical-align: baseline;
      margin-right: -5px;

      + li {
        margin-left: 0;
        border-left: 1px solid rgba( #fff, 0.3 );
      }
    }
  }

  a {
    display: block;
    padding: 0 0.75em;
    font-size: 80%;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .sub-menu {
    display: none;
  }
}
