
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;
  .nav-list{
    // display: flex;
    // align-items: center;
    margin-top: 25px;
  }
  li {
    position: relative;
    // &:last-child{
    //   padding-left: 18px;
    //   padding-right: 50px;
    //   &:after{
    //     content: url(../svg/icons/arrow-right-icon-green-button.svg);
    //     position: absolute;
    //     right: 17px;
    //     top: 17px;
    //   }
    //   a{
    //     padding: 0;
    //     font-size: 18px !important;
    //     color: $color-green-dark;
    //   }
    // }
  }

  a {
    display: block;
    padding: 0.5em 0.15em;
    color: $main-nav-color;
    font-family: $font-base;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    padding-top: 15px;
    @include breakpoint($bp-large) {
      font-size: 18px;
    }

    @include breakpoint($bp-xl) {
      font-size: 18px;
    }

    &:hover,
    &:focus {
      color: $main-nav-color--hover;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        margin-left: 1.5em;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $main-nav-color--active;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-green-light;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
      &:last-child{
        // padding-left: 18px;
        // padding-right: 50px;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px !important;
        a{
          font-size: 16px !important;
        }
        &:after{
          display: none;
        }
      }
      a{
        padding: 1em 0;
      }
    }

    > li {
      + li {
        border-top: 1px solid darken($bkg-med-grey, 15%);
      }
    }

    a {
      padding: 1em 0;
      color: $color-green-dark;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $color-green;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $color-green;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}

.menu-item-199{
  display: none !important;
}
