
/**
 * Sidebar Navigation
 */

.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
      border-top: 2px solid $border-color;
    }
  }
  li.page_item_has_children{
    .children{
      border-top: 2px solid $border-color;
      li + li{
          border-top: none;
          a{
            padding-top: 0;
          }
      }
    }
  }

  a {
    display: block;
    padding: 0.75em 0;
    color: $color-black;
    text-decoration: none;
    font-weight: 700;
    transition: color 500ms;
    font-size: 18px;
    &:hover,
    &:focus {
      color: $nav-link-color--hover;
    }
  }

  .children {
    // display: none;
    // margin-left: 1em;
    padding-left: 1em;
    li{
      a{
        font-size: 16px;
      }
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-green-med;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
