
/**
 * Tribe Events Calendar
 */

.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn {
  background-color: $button-color;
  border-radius: 0;
  &:hover,
  &:focus {
    background-color: $button-color--hover;
  }
}


.tribe-events .tribe-events-c-ical__link {
  border-color: $button-color;
  color: $button-color;

  &:hover,
  &:focus {
    background-color: $button-color;
  }
}
.tribe-common .tribe-common-c-svgicon {
  color: $button-color;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
  color: $button-color;
}

.tribe-events-cal-links .tribe-events-gcal,
.tribe-events-cal-links .tribe-events-ical {
  color: $button-color;
  background-color: transparent !important;
}

.tribe-events-single ul.tribe-related-events li .tribe-related-events-title a {
  color: $button-color;
}
.tribe-common .tribe-common-anchor-thin-alt {
  border-bottom-color: $button-color;

  &:hover,
  &:focus {
    color: $button-color;
    border-bottom-color: $button-color;
  }
}
.tribe-common .tribe-common-anchor-thin-alt:active,
.tribe-common .tribe-common-anchor-thin-alt:focus,
.tribe-common .tribe-common-anchor-thin-alt:hover {
  border-bottom-color: $button-color;
}

.tribe-events-content {
  color: inherit;
}

.tribe-events-content h2,
.tribe-events-content h3,
.tribe-events-content h4,
.tribe-events-content h5,
.tribe-events-content h6 {
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;
}

.tribe-events-content h2 {}
.tribe-events-content h3 {}
.tribe-events-content h4 {}
.tribe-events-content h5 {}
.tribe-events-content h6 {}

.tribe-events-content a {
  border: 0 none;
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }
}
.tribe-events-event-meta a,
.tribe-events-event-meta a:visited {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }
}
.tribe-events-content a:active, .tribe-events-content a:focus, .tribe-events-content a:hover {
  border-bottom: 0 none;
}

.tribe-common .tribe-common-form-control-checkbox__label,
.tribe-common .tribe-common-form-control-radio__label,
.tribe-common .tribe-common-form-control-slider__label,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-text__input,
#top .main_color .tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input,
#top .main_color .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-toggle__label,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn-border,
.tribe-common .tribe-common-c-btn-border-small,
.tribe-common a.tribe-common-c-btn-border-small,
.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn,
.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common .tribe-common-b3,
.tribe-theme-avada #main .tribe-common .tribe-common-h4,
.tribe-theme-avada #main .tribe-common .tribe-common-h5,
.tribe-theme-avada #main .tribe-common .tribe-common-h6,
.tribe-theme-avada #main .tribe-common .tribe-common-h7,
.tribe-theme-avada #main .tribe-common .tribe-common-h8 {
  font-family: $font-base;
}

.tribe-common .tribe-common-cta,
.tribe-common .tribe-common-h1,
.tribe-common .tribe-common-h2,
.tribe-common .tribe-common-h3,
.tribe-theme-avada #main .tribe-common .tribe-common-h1,
.tribe-theme-avada #main .tribe-common .tribe-common-h2,
.tribe-theme-avada #main .tribe-common .tribe-common-h3 {
  font-family: $font-heading;
}


.tribe-events-page-template{
  .page-header{
    display: none;
  }
}

.tribe-common-l-container.tribe-events-l-container{
  padding-top: 0 !important;
}

.tribe-events-event-cost{
  .tribe-common-c-btn{
    color: white !important;
    padding: 0.5em 1em !important;
  }
}

.tribe-events-event-image{
  height: 200px !important;
  width: 200px !important;
  overflow: hidden !important;
  a{
    height: 200px !important;
    position: relative !important;
    width: 200px !important;
    overflow: hidden !important;
    img{
      @include block-fit-cover();
      position: static !important;
    }
  }
}

button#tribe-tickets__buy {
    background-color: #4e5620 !important;
}

a.tribe-common-anchor-alt.tribe-tickets__commerce-order-footer-link.tribe-tickets__commerce-order-footer-link--browse-events{
  color: #65753c !important;
}
a.tribe-common-anchor-alt.tribe-tickets__commerce-order-footer-link.tribe-tickets__commerce-order-footer-link--back-home{
  color: #65753c !important;
}



User: lori@professionalarts.com
Pass: marketing01
