
/**
 * Hero Block
 */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 52.4375em;
  height: 70vh;
  min-height: 38em;
  max-height: 52.4375em;
  overflow: hidden;
  @include breakpoint($bp-large){
    height: 90vh;
  }
  @include breakpoint($bp-mega){
    height: 80vh;
  }
  &.background-image {

  }
}

.tns-nav{
  display: none !important;
}

.slide-bkg {
  @include block-fit-cover( 100em );
  opacity: 0.4;
}

.hero-box {

}

.hero-content {
  text-align: center;
  h1 {
    color: #fff;
    @include breakpoint($bp-large) {
      font-size: 1.875em;
    }
  }

  p {
    color: #fff;
    font-size: 1.375em;
  }

  .button {

  }
}

.carousel-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50.4375em;
  height: 24vh;
  min-height: 24em;
  max-height: 52.4375em;
  overflow: hidden;
  @include breakpoint($bp-med){
   height: 52vh;
  }
  @include breakpoint($bp-large){
    height: 120vh;
  }
  @include breakpoint($bp-mega){
    height: 80vh;
  }
}

.slide-wrap {
  position: relative;
  max-width: 39.625em;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  @include breakpoint($bp-med){
    margin-top: 4em;
  }
  @include breakpoint($bp-large){
    margin-top: 2em;
  }
  @include breakpoint($bp-xl){
    margin-top: auto;
  }
  .slide-content{
   @include reverse-block-color();
  }

  @include breakpoint($bp-large) {
    max-width: 55.625em;
  }
}

.home-carousel{
  background-color: $color-black;
  .tns-controls [data-controls=prev]{
    display: none;
    @include breakpoint($bp-large){
      display: block;
      left: 11em;
    }
    @include breakpoint($bp-mega-mega){
      left: 23em;
    }
    @include breakpoint($bp-mega-mega-xl){
      left: 28em;
    }
    @include breakpoint($bp-mega-mega-xl-xl){
      left: 33em;
    }
  }
  .tns-controls [data-controls=next] {
    display: none;
    @include breakpoint($bp-large){
      display: block;
      right: 11em;
    }
    @include breakpoint($bp-mega-mega){
      right: 23em;
    }
    @include breakpoint($bp-mega-mega-xl){
      right: 28em;
    }
    @include breakpoint($bp-mega-mega-xl-xl){
      right: 33em;
    }
  }
}

.slide-content{
  h1{
    font-size: 50px;
    @include breakpoint($bp-large){
      font-size: 70px;
    }
  }
  h2{
    font-size: 36px;
  }
}
