
/**
 * Mobile Navigation
 */

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $color-green-med;
  overflow-y: scroll;
  transition: transform 350ms;

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}

.mobile-nav-header {
  padding: 0em 1em;
  text-align: right;
  display: flex;
  justify-content: space-between;
  background: #4e5620;
  margin-bottom: 2em;
  .site-branding{
    .site-logo{
      width: 240px;
    }
  }
  a {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation--mobile {
  padding: 2em 0;
  padding-top: 0;
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    // padding-top: 1em;
    // border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;
    &:last-child{
      margin-top: 10px;
      &:after{
        display: none;
      }
     > a{
       // color: $color-green-dark;
       // &:after{
       //   content: url(../svg/icons/arrow-right-icon-green-button.svg);
       //   position: absolute;
       //   right: 17px;
       //   top: 22px;
       // }
     }
    }

    + li {}
  }

  a {
    display: block;
    padding: .25em;
    color: white;
    font-family: $font-base;
    font-size: 1.625em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: $color-green-light;
    }
  }

  .sub-menu {
    display: none;

    li{
      &:last-child{
        margin-top: 0;
      }
     a{
       color: $color-green-light;
       &:after{
         display: none;
       }
     }
    }

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {
  text-align: center;
}

.mobile-nav--utility {
  text-align: center;
  a {
    &:nth-of-type(1){
      @include button-reset();
      padding: 14px 60px 14px 1.5em;
      color: $color-green-dark;
      font-weight: 700;
      line-height: 1.2;
      text-transform: none;
      letter-spacing: 0.75px;
      background: white;
      position: relative;
      padding-right: 60px;
      font-size: 26px !important;
      &:hover{
        background-color: $color-green-dark;
        color: white;
        &:after{
          content: url(../svg/icons/arrow-right-icon-white-button.svg);
          position: absolute;
          right: 19px;
        }
      }
      @include breakpoint($bp-xl){
        font-size: 18px;
      }
      &:after{
        content: url(../svg/icons/arrow-right-icon-green-button.svg);
        position: absolute;
        right: 19px;
      }
    }
    &:nth-of-type(2){
      @include button-reset();
      padding: 14px 60px 14px 1.5em;
      color: $color-green-dark;
      font-weight: 700;
      line-height: 1.2;
      text-transform: none;
      letter-spacing: 0.75px;
      background: white;
      position: relative;
      padding-right: 60px;
      font-size: 26px !important;
      &:hover{
        background-color: $color-green-dark;
        color: white;
        &:after{
          content: url(../svg/icons/arrow-right-icon-white-button.svg);
          position: absolute;
          right: 19px;
          // top: 16px !important;
        }
      }
      @include breakpoint($bp-xl){
        font-size: 26px !important;
      }
      &:after{
        content: url(../svg/icons/arrow-right-icon-green-button.svg);
        position: absolute;
        right: 19px;
        top: 16px;
      }
    }
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $color-green-med;
      font-size: 1.1875em;
      background: $color-green-med;
      svg{
        fill: red !important;
      }
      &:hover,
      &:focus {
        background: $color-green-med;
        border-color: $color-green-med;
      }
    }

    .search-field {
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $text-color;
      }
    }
  }
}
